.imageTable {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.imageFigure {
  margin: 0;
}

.imageFigcaption {
  text-align: center;
  font-style: italic;
}

@media (max-width: 768px) {
  .imageTable {
    flex-direction: column;
  }
}